body {
  background-color: blue;
}

img {
  max-width: 75%;
}

.intro {
  margin: 10px;
  text-align: center;
  
}

.intro ol {
  list-style-type: none;
  text-align: center;
  display: inline-block;
}

.table {
  background-image: url(coffee_beans.jpg);
  background-size: 75%;
}